 .bold {
     font-weight: bold;
 }

 .danger {
     color: red;
 }

 body {
     display: flex;
     justify-content: center;
     margin-top: 40px;
 }

 .wrapper {
     border: 1.5px solid #4475a2;
     padding: 30px 60px;
 }

 label {
     display: inline-block;
     line-height: 30px;
     padding-left: 10px;
     border: 1.5px solid #4475a2;
 }

 .input-box {
     margin-bottom: 10px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .input-radio {
     margin-bottom: 10px;
 }

 .button-box {
     margin-top: 30px;
     display: flex;
     justify-content: center;
 }

 .input-username {
     border: 1px solid #4475a2;
     width: 300px;

 }


 .button {
     background-color: rgb(85, 159, 39);
     ;
     color: white;
     padding: 12px 38px;
     border: 1.5px solid #4475a2;
     border-radius: 7px;
 }

 .khoa-classname {
     width: 300px;
 }

 .khoa-select {
     display: flex;
     justify-content: space-between;
 }

 table {
     font-family: arial, sans-serif;
     border-collapse: collapse;
     width: 100%;
 }

 td,
 th {
     border: 1px solid #dddddd;
     text-align: left;
     padding: 8px;
 }

 .them {
     margin-top: 0px !important;
 }

 .button-add {
     padding: 0px 10px !important;
     background-color: blue;
 }

 .button-add2 {
     padding: 0px 10px !important;
     background-color: green;
     margin-left: 10px;
     margin-right: 5px;
 }

 .hover:hover {
     cursor: pointer;
 }

 /* Customize the label (the container-checkbox) */
 .container-checkbox {
     display: block;
     position: relative;
     padding-left: 35px;
     margin-bottom: 12px;
     cursor: pointer;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
 }

 /* Hide the browser's default radio button */
 .container-checkbox input {
     position: absolute;
     opacity: 0;
     cursor: pointer;
     height: 0;
     width: 0;
 }

 /* Create a custom radio button */
 .checkmark {
     position: absolute;
     top: 0;
     left: 0;
     height: 25px;
     width: 25px;
     background-color: #eee;
     border-radius: 50%;
 }

 /* On mouse-over, add a grey background color */
 .container-checkbox:hover input~.checkmark {
     background-color: #ccc;
 }

 /* When the radio button is checked, add a blue background */
 .container-checkbox input:checked~.checkmark {
     background-color: #2196F3;
 }

 /* Create the indicator (the dot/circle - hidden when not checked) */
 .checkmark:after {
     content: "";
     position: absolute;
     display: none;
 }

 /* Show the indicator (dot/circle) when checked */
 .container-checkbox input:checked~.checkmark:after {
     display: block;
 }

 /* Style the indicator (dot/circle) */
 .container-checkbox .checkmark:after {
     top: 9px;
     left: 9px;
     width: 8px;
     height: 8px;
     border-radius: 50%;
     background: white;
 }